############################
# OS X
############################

.DS_Store
.AppleDouble
.LSOverride
.Spotlight-V100
.Trashes
._*

############################
# Linux
############################

*~

############################
# Windows
############################

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp

############################
# Misc.
############################

*#
ssl
.idea
nbproject